{% extends 'main.html' %}
{% load static %}
{% block title_page %}
    <title>Магазин</title>
{% endblock title_page %}
{% block content %}
{#    {% if user.is_authenticated %}#}
{#        <div style="position: absolute; right: 50%; transform: translateX(50%); margin-top: 30px;">#}
{#            <button onclick="window.location.href = {% url 'reg' %}" type="submit" class="btn btn-outline-info">#}
{#                Профиль#}
{#            </button>#}
{#            <button onclick="window.location.href = {% url 'exit' %}" type="submit" class="btn btn-outline-info">Выход#}
{#            </button>#}
{#        </div>#}
{#    {% else %}#}
{#        <div style="position: absolute; right: 50%; transform: translateX(50%); margin-top: 30px;">#}
{#            <button onclick="window.location.href = {% url 'reg' %}" type="submit" class="btn btn-outline-info">#}
{#                Регистрация#}
{#            </button>#}
{#            <button onclick="window.location.href = {% url 'login' %}" type="submit" class="btn btn-outline-info">Вход#}
{#            </button>#}
{#        </div>#}
{#    {% endif %}#}
    <section class="main-section paddind" id="Portfolio">
        <!--main-section-start-->
        <div class="container">
            <h2>Магазин</h2>
            <h6>Вас приветствует интернет магазин товаров для кондитеров и шоколада.</h6>
            <div class="portfolioFilter">
                <ul class="Portfolio-nav wow fadeIn delay-02s">
                    <li><a href="#" data-filter="*" class="current">All</a></li>
                    <li><a href="#" data-filter=".branding">Темный шоколад</a></li>
                    <li><a href="#" data-filter=".webdesign">Молочный шоколад</a></li>
                    <li><a href="#" data-filter=".printdesign">Какао</a></li>
                    <li><a href="#" data-filter=".photography">Ингредиенты</a></li>
                </ul>
            </div>
        </div>
        <div class="portfolioContainer wow fadeInUp delay-04s">
            {% for post in pr %}
                {% if post.available %}
                    {% if post.group == 'kakao' %}
                        <div class=" Portfolio-box printdesign">
                            <a href="{{ post.url }}"><img src="{{ post.img.url }}" alt=""></a>
                            <h3>{{ post.name }}</h3>
                            <p>Цена {{ post.price }} руб.</p>
                        </div>
                    {% elif post.group == 'milk chocolate' %}
                        <div class="Portfolio-box webdesign">
                            <a href="{{ post.objects.get.POST }}"><img src="{{ post.img.url }}" alt=""></a>
                            <h3>{{ post.name }}</h3>
                            <p>Цена {{ post.price }} руб.</p>
                        </div>
                    {% elif post.group == 'dark chocolate' %}
                        <div class=" Portfolio-box branding">
                            <a href="{{ post.url }}"><img src="{{ post.img.url }}" alt=""></a>
                            <h3>{{ post.name }}</h3>
                            <p>Цена {{ post.price }} руб.</p>
                        </div>
                    {% else %}
                        <div class=" Portfolio-box photography">
                            <a href="{{ post.url }}"><img src="{{ post.img.url }}" alt=""></a>
                            <h3>{{ post.name }}</h3>
                            <p>Цена {{ post.price }} руб.</p>
                        </div>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </div>
    </section>
{% endblock content %}
